{% extends 'unfold/layouts/skeleton.html' %}

{% load i18n static %}

{% block extrastyle %}
    {{ block.super }}
    {{ form.media }}
{% endblock %}

{% block bodyclass %}{{ block.super }}bg-gray-50 login dark:bg-gray-900{% endblock %}

{% block usertools %}{% endblock %}

{% block nav-global %}{% endblock %}

{% block nav-sidebar %}{% endblock %}

{% block content_title %}{% endblock %}

{% block breadcrumbs %}{% endblock %}

{% block title %}
    Sign Up | Label Pulse
{% endblock %}

{% block base %}
    <div class="flex min-h-screen">
        <div class="flex flex-grow items-center justify-center mx-auto px-4 relative">
            <div class="w-full sm:w-96">
                <h1 class="font-semibold mb-10">
                    <span class="block text-font-important-light dark:text-font-important-dark">{% blocktrans %}Create your account at{% endblocktrans %}</span>
                    <span class="block text-primary-600 text-xl dark:text-primary-500">Label Pulse</span>
                </h1>

                {% include "unfold/helpers/messages.html" %}

                {% include "unfold/helpers/messages/errornote.html" with errors=form.errors %}

                {% include "unfold/helpers/messages/error.html" with errors=form.non_field_errors %}

                <form method="post" id="login-form">

                    {% csrf_token %}
                    
                    {% include "unfold/helpers/field.html" with field=form.username %}

                    {% include "unfold/helpers/field.html" with field=form.password1 %}

                    {% include "unfold/helpers/field.html" with field=form.password2 %}

                    <div class="submit-row">
                        <button type="submit" class="bg-primary-600 border border-transparent flex flex-row font-semibold group items-center justify-center py-2 rounded-md text-sm text-white w-full">
                            {% translate 'Create account' %}

                            <i class="material-symbols-outlined ml-2 relative right-0 text-lg transition-all group-hover:-right-1">arrow_forward</i>
                        </button>
                    </div>

                </form>
            </div>

            <div class="absolute flex flex-row items-center justify-between left-0 m-4 right-0 top-0">
                <a href="https://web.label-pulse.com/" class="flex font-medium items-center text-sm text-primary-600 dark:text-primary-500">
                    <span class="material-symbols-outlined mr-2">arrow_back</span> {% blocktrans %}Return to site{% endblocktrans %}
                </a>

                {% include "unfold/helpers/theme_switch.html" %}
            </div>
        </div>
    </div>

{% endblock %}