{% extends "admin/change_form.html" %}

{% block content %}

{{ block.super }}

<style>
    .loading-spinner {
        position: fixed; /* Para que siempre esté en la parte superior de la pantalla */
        top: 50%%;
        left: 50%; /* Centra el spinner horizontalmente */
        transform: translateX(-50%); /* Ajusta la posición al centro */
        z-index: 9999; /* Asegura que esté sobre todo el contenido */
        width: 56px;
        height: 56px;
        border-radius: 50%;
        background: conic-gradient(#0000 10%,#474bff);
        -webkit-mask: radial-gradient(farthest-side,#0000 calc(100% - 9px),#000 0);
        animation: spinner-zp9dbg 1s infinite linear;
    }

        
    @keyframes spinner-zp9dbg {
        to {
           transform: rotate(1turn);
        }
     }
</style>

<div id="spinner-container" class="loading-spinner" style="display: none;"></div>

<script>
    document.addEventListener('DOMContentLoaded', function () {
        const isPopup = window.location.search.includes('_popup=1');
        const form = document.querySelector('form');
        const saveBtn = document.querySelector('[name="_save"]');
        const spinner = document.getElementById('spinner-container'); 
    
        saveBtn.addEventListener('click', function () {
            spinner.style.display = 'block';
    
            if (isPopup) {
                form.style.opacity = '0.3'; 
            }
        });
    });
</script>

{% endblock %}
